@use "reset_v2.5" as *;
@use "variable" as *;
body {
    @include SunSerif;
    font-feature-settings: "palt";
    font-size: clamp(1.2rem, calc($base-vw * 1vw) + calc($slice * 1px), 1.6rem);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    width: 100%;
    color: $base-white;
    background-color: $base-black;
    @include tbw {
        overflow-x: clip;
    }
    @include tb {
        font-size: 1.4vw;
    }
    @include sp {
        font-size: 3.6vw;
    }
}
main {
    font-size: inherit;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    &::before,
    &::after {
        content: "";
        position: fixed;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        z-index: -1;
    }
    &::before {
        background: url("../images/bg-main.webp") no-repeat center top / cover;
    }
    &::after {
        background-color: #47001b;
        mix-blend-mode: multiply;
        opacity: 0.45;
    }
}
section,
article,
header,
footer {
    width: 100%;
    position: relative;
    font-size: inherit;
    z-index: 1;
}
svg {
    width: 100%;
    fill: unset;
    stroke: unset;
}
br {
    &.pc {
        @include sp {
            display: none;
        }
    }
    &.sp {
        display: none;
        @include sp {
            display: inline;
        }
    }
}
