/* =================================
 * 	2025年ミスヘブン総選挙応援キャンペーン TOPページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * HEAD
 * ------------------------------ */
.itemH1 {
    display: inline-block;
    text-align: center;
    background-color: $base-black;
    font-size: FZ(16);
    letter-spacing: 0.04em;
    padding-block: 0.3em;
    z-index: 2;
}
.containerHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2vw 3em;
    @include sp {
        padding: 8vw 4vw 6vw;
    }
    &::before {
        content: "";
        position: absolute;
        top: -10em;
        right: 85%;
        width: 25vw;
        background: url("../images/object-wing.webp") no-repeat center center /
            contain;
        aspect-ratio: 600/1354;
        z-index: 1;
        @include sp {
            width: 40vw;
            right: 80%;
            top: -20vw;
        }
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
    }
    .blockTop {
        &::before {
            content: "";
            position: fixed;
            top: 10em;
            left: 70%;
            width: 24vw;
            background: url("../images/object-feather.webp") no-repeat center
                center/contain;
            aspect-ratio: 300/269;
            z-index: 2;
            @include sp {
                width: 30vw;
                left: 80%;
                top: 20vw;
            }
        }
        .titleImage {
            width: 100%;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 35%;
                width: 25%;
                z-index: -1;
                background: url("../images/honsen-icon.webp") no-repeat center
                    center / contain;
                aspect-ratio: 894/848;
            }
        }
        .headTitle {
            font-size: FZ(64);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            letter-spacing: 0.04em;
            gap: 0.1em;
            margin-top: 0.5em;
            @include sp {
                font-size: FZ(30);
            }
            span {
                font-size: 0.375em;
                font-weight: 500;
                letter-spacing: 0.2em;
                @include sp {
                    font-size: 0.6em;
                }
            }
        }
        .textChance {
            font-size: FZ(30);
            font-weight: 500;
            letter-spacing: 0.08em;
            display: inline-block;
            margin-top: 2em;
            text-align: center;
            @include sp {
                font-size: FZ(16);
                margin-top: 4vw;
            }
            em {
                font-size: 1.4em;
                font-weight: 700;
                color: #fbe625;
                @include sp {
                    font-size: 1.8em;
                }
            }
        }
        .textThanks {
            font-size: FZ(18);
            font-weight: 600;
            margin-top: 1em;
            letter-spacing: 0.08em;
            @include sp {
                font-size: FZ(16);
                text-align: center;
            }
        }
    }
    .blockBottom {
        flex-direction: column;
        gap: 0 1.4em;
        margin-top: 3em;
        @include sp {
            flex-direction: column;
            gap: 6vw 0;
            margin-top: 6vw;
        }
        p {
            font-size: FZ(26);
            text-align: center;
            color: #fced65;
            font-weight: 500;
            letter-spacing: 0.04em;
            line-height: 1.6em;
            display: flex;
            flex-direction: column;
            span {
                font-size: 1.2em;
                margin-inline: 0.3em;
                font-weight: 700;
                color: #ffe608;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 1em;
                gap: 0.3em 0;
            }
            @include sp {
                font-size: FZ(20);
            }
        }
    }
}

/* =================================
 * ポイントゲット
 * ------------------------------ */
.containerPoint {
    display: flex;
    justify-content: center;
    padding: 3em 2vw 2em;
    @include sp {
        padding: 8vw 4vw 6vw;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: $base-pink;
        mix-blend-mode: screen;
        opacity: 0.5;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        .boxHead {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: inherit;

            // span {
            //     font-size: FZ(64);
            //     font-weight: 700;
            //     @include sp {
            //         font-size: FZ(36);
            //     }
            //     em {
            //         display: inline-block;
            //         font-size: 1.5em;
            //         margin-right: 0.1em;
            //         background: linear-gradient(
            //             0deg,
            //             #ffe500 0%,
            //             rgba(#ffe500, 0) 60%,
            //             rgba(#ffe500, 0) 100%
            //         );
            //         background-clip: text;
            //         -webkit-text-fill-color: transparent;
            //         background-color: $base-white;
            //     }
            // }
            p {
                font-size: FZ(28);
                font-weight: 700;
                margin-top: 0.5em;
                letter-spacing: 0.04em;
                @include sp {
                    font-size: FZ(14);
                }
            }
        }
        .listPoint {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            font-size: inherit;
            gap: 0 0.8em;
            margin-top: 2em;
            @include sp {
                grid-template-columns: repeat(2, 1fr);
                gap: 4vw;
                margin-top: 4vw;
            }
            li {
                position: relative;
                font-size: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $base-white;
                color: $base-black;
                border-radius: 2rem;
                padding: 2em 2em 1em;
                @include sp {
                    padding: 2vw;
                }
                .label {
                    @include FuturaHeavyOblique;
                    font-size: FZ(48);
                    @include sp {
                        font-size: FZ(42);
                    }
                    &::after {
                        @include SunSerif;
                        content: "票";
                        font-size: 0.33em;
                        margin-left: 0.2em;
                        font-weight: 700;
                    }
                }
                span {
                    width: 100%;
                    max-width: 156px;
                    text-align: center;
                    display: inline-block;
                    position: relative;
                    background-color: $base-pink;
                    color: $base-white;
                    font-size: FZ(16);
                    font-weight: 600;
                    letter-spacing: 0.08em;
                    padding: 1em 0 0;
                    margin-bottom: 2em;
                    @include sp {
                        max-width: unset;
                        width: 30vw;
                        margin-bottom: 6vw;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: calc(100% - 1px);
                        left: 50%;
                        translate: -50%;
                        width: calc(100% + 2em);
                        aspect-ratio: 8;
                        background-color: $base-pink;
                        clip-path: polygon(0 0, 100% 0, 50% 100%);
                    }
                }
                .point {
                    @include FuturaHeavyOblique;
                    font-size: FZ(48);
                    @include sp {
                        font-size: FZ(42);
                    }
                    &::after {
                        content: "p";
                        font-size: 0.66em;
                        margin-left: 0.1em;
                    }
                }
                &:last-of-type {
                    .point {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            left: calc(100% - 0.15em);
                            bottom: 0.5em;
                            width: 0.85em;
                            background: url("../images/object-hight-light.webp")
                                no-repeat center center / contain;
                            aspect-ratio: 41/52;
                            animation: twinkle 1s ease infinite;
                        }
                        @keyframes twinkle {
                            0% {
                                opacity: 0;
                            }
                            49% {
                                opacity: 0;
                            }
                            50% {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .textBottom {
            font-size: FZ(40);
            font-weight: 700;
            margin-top: 0.5em;
            @include sp {
                font-size: FZ(30);
            }
        }
    }
}

/* =================================
 * キャストリスト
 * ------------------------------ */
.containerCast {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2vw 0;
    overflow: hidden;
    @include sp {
        padding: 8vw 4vw 6vw;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -20em;
        left: 85%;
        width: 25vw;
        background: url("../images/object-wing.webp") no-repeat center center /
            contain;
        aspect-ratio: 600/1354;
        scale: -1 -1;
        z-index: 1;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        margin-bottom: 8em;
        @include sp {
            margin-bottom: 4vw;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 90%;
            width: 24vw;
            background: url("../images/object-feather.webp") no-repeat center
                center/contain;
            aspect-ratio: 300/269;
            scale: -1 -1;
            rotate: -90deg;
            @include sp {
                right: 80%;
                bottom: -6vw;
            }
        }
        .announce {
            font-size: FZ(24);
            line-height: 1.8em;
            font-weight: 700;
            @include sp {
                font-size: FZ(18);
            }
        }
        .boxArea {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 2em;
            @include sp {
                margin-top: 6vw;
            }
            h2 {
                background-color: $base-white;
                color: $base-black;
                padding: 0.3em 1em;
                font-size: FZ(16);
                font-weight: 600;
                letter-spacing: 0.08em;
                @include sp {
                    font-size: FZ(18);
                }
            }
            .listCast {
                position: relative;
                font-size: inherit;
                margin: 1em 0 3em;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2em 0.8em;
                @include sp {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 8vw 2vw;
                    margin: 2vw 0 6vw;
                }
                li {
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    --shop-color: #000;
                    .itemImage {
                        width: 100%;
                        position: relative;

                        // &::before {
                        //     content: "";
                        //     position: absolute;
                        //     inset: 0;
                        //     background: url(../images/image-frame.webp)
                        //         no-repeat center center/cover;
                        // }
                        &::after {
                            content: "";
                            position: absolute;
                            right: 1rem;
                            bottom: 1rem;
                            width: 8rem;
                            background: url("../images/flame-icon.webp")
                                no-repeat center center/cover;
                            aspect-ratio: 240/432;
                            z-index: 2;
                            @include sp {
                                width: 14vw;
                                right: 2vw;
                                bottom: 2vw;
                            }
                        }
                        .castImage {
                            width: 100%;
                            aspect-ratio: 3/4;
                            object-fit: cover;
                        }
                        .iconImage {
                            position: absolute;
                            bottom: 1rem;
                            left: 0.5rem;
                            display: flex;
                            flex-direction: column;
                            gap: 1rem 0;
                            @include sp {
                                gap: 2vw 0;
                                bottom: 2vw;
                            }
                            li {
                                width: 9rem;
                                @include sp {
                                    width: 16vw;
                                }
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .shop {
                        color: $base-white;
                        text-align: center;
                        font-size: FZ(14);
                        font-weight: 500;
                        letter-spacing: 0.04em;
                        padding-block: 0.3em;
                        background-color: var(--shop-color);
                    }
                    .name {
                        font-size: FZ(20);
                        font-weight: 700;
                        text-align: center;
                        letter-spacing: 0.08em;
                        margin-top: 0.5em;
                    }
                    .itemLink {
                        align-self: center;
                        background-color: $base-pink;
                        font-size: FZ(16);
                        font-weight: 700;
                        letter-spacing: 0.08em;
                        padding: 0.3em 1.6em;
                        border-radius: 100vmax;
                        margin-top: 0.2em;
                    }
                    &.fuHot {
                        --shop-color: #00afd1;
                    }
                    &.fuVilla {
                        --shop-color: #b6659f;
                    }
                    &.kmHot {
                        --shop-color: #ea524f;
                    }
                    &.kmVilla {
                        --shop-color: #ffb020;
                    }
                }
            }
        }
    }
}
.copyright {
    display: inline-block;
    text-align: center;
    background-color: $base-pink;
    font-size: FZ(16);
    font-weight: 580;
    letter-spacing: 0.04em;
    padding-block: 0.3em;
    z-index: 2;
}
