/* =================================
 * 	2025年ミスヘブン総選挙応援キャンペーン TOPページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * HEAD
 * ------------------------------ */
.itemH1 {
    display: inline-block;
    text-align: center;
    background-color: $base-black;
    font-size: FZ(16);
    letter-spacing: 0.04em;
    padding-block: 0.3em;
    z-index: 2;
}
.containerHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2vw 3em;
    @include sp {
        padding: 8vw 4vw 6vw;
    }
    &::before {
        content: "";
        position: absolute;
        top: -10em;
        right: 85%;
        width: 25vw;
        background: url("../images/object-wing.webp") no-repeat center center /
            contain;
        aspect-ratio: 600/1354;
        z-index: 1;
        @include sp {
            width: 40vw;
            right: 80%;
            top: -20vw;
        }
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
    }
    .blockTop {
        &::before {
            content: "";
            position: fixed;
            top: 10em;
            left: 70%;
            width: 24vw;
            background: url("../images/object-feather.webp") no-repeat center
                center/contain;
            aspect-ratio: 300/269;
            z-index: 2;
            @include sp {
                width: 30vw;
                left: 80%;
                top: 20vw;
            }
        }
        .titleImage {
            width: 100%;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 35%;
                width: 25%;
                z-index: -1;
                background: url("../images/honsen-icon.webp") no-repeat center
                    center / contain;
                aspect-ratio: 894/848;
            }
        }
        .headTitle {
            font-size: FZ(64);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            letter-spacing: 0.04em;
            gap: 0.1em;
            margin-top: 0.5em;
            @include sp {
                font-size: FZ(48);
            }
            span {
                font-size: 0.375em;
                font-weight: 500;
                letter-spacing: 0.2em;
            }
        }
        .boxPoint {
            position: relative;
            font-size: inherit;
            margin-top: 2em;
            @include sp {
                margin-top: 30vw;
            }
            .number {
                position: relative;
                @include FuturaHeavyOblique;
                font-size: FZ(140);
                display: inline-block;
                background: linear-gradient(
                    0deg,
                    #ffe500 0%,
                    rgba(#ffe500, 0) 80%,
                    rgba(#ffe500, 0) 100%
                );
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background-color: $base-white;
                @include sp {
                    font-size: FZ(90);
                }
                &::after {
                    content: "pt";
                    font-size: 0.343em;
                    color: $base-white;
                    -webkit-text-fill-color: $base-white; // Safari対策
                    background-clip: none;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    left: calc(100% - 0.2em);
                    width: 1.6em;
                    @include svg-text-get("E5009F");
                    @include sp {
                        width: 0.9em;
                    }
                }
            }
            .wrapHead {
                font-size: inherit;
                position: absolute;
                top: 45%;
                translate: 0 -50%;
                right: calc(100% + 0.1em);
                width: 11em;
                aspect-ratio: 1;
                @include flex-center;
                @include sp {
                    top: unset;
                    left: 50%;
                    translate: -50%;
                    bottom: calc(100% - 8vw);
                    width: 25vw;
                    z-index: -1;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    translate: -50%;
                    top: -3.2em;
                    background: url("../images/object-crown.webp") no-repeat
                        center center / contain;
                    aspect-ratio: 91/105;
                    width: 50%;
                    @include sp {
                        width: 70%;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background-color: $base-pink;
                    mix-blend-mode: screen;
                    opacity: 0.6;
                    border-radius: 50%;
                }
                span {
                    font-size: FZ(48);
                    font-weight: 700;
                    @include sp {
                        font-size: FZ(30);
                    }
                }
            }
        }
        .textChance {
            font-size: FZ(36);
            font-weight: 700;
            letter-spacing: 0.08em;
            display: inline-block;
            translate: 0 -0.8em;
            margin-bottom: -0.8em;
            em {
                font-size: 1.78em;
                display: inline-block;
                translate: 0 0.05em;
                margin-inline: 0.1em;
            }
        }
    }
    .blockBottom {
        flex-direction: row;
        gap: 0 1.4em;
        margin-top: 3em;
        @include sp {
            flex-direction: column;
            gap: 6vw 0;
        }
        .boxPeriod {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            background-color: rgba($base-black, 0.6);
            border: 1px solid;
            border-radius: 1rem;
            padding: 2em 2em 1em;
            gap: 1em 0;
            @include sp {
                padding: 4vw 4vw 2vw;
                width: 100%;
            }
            h2 {
                align-self: center;
                font-size: FZ(20);
                font-weight: 700;
                letter-spacing: 0.4em;
            }
            dl {
                display: grid;
                grid-template-columns: auto 1fr;
                font-size: inherit;
                gap: 0.5em 0;
                dt {
                    grid-column: span 2;
                    background-color: $base-white;
                    color: $base-black;
                    font-size: FZ(16);
                    font-weight: 700;
                    padding: 0.5em 1em;
                    @include sp {
                        padding: 0.3em 4vw;
                    }
                }
                dd {
                    position: relative;
                    grid-column: span 2;
                    display: grid;
                    grid-template-columns: subgrid;
                    font-size: inherit;
                    .caution {
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        @include flex-center;
                        z-index: 5;
                        font-size: inherit;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: calc(100% + 0.1em);
                            height: 6px;
                            translate: -50% -50%;
                            background-color: $caution-red;
                            z-index: -1;
                            rotate: -5deg;
                        }
                        span {
                            font-size: FZ(20);
                            font-weight: 700;
                            background-color: $caution-red;
                            padding: 0.5em 1em;
                            color: $caution-yellow;
                            border-radius: 8px;
                        }
                    }
                    time {
                        position: relative;
                        font-size: inherit;
                        display: flex;
                        .month,
                        .day {
                            font-size: FZ(40);
                            font-weight: 700;
                            @include sp {
                                font-size: FZ(36);
                            }
                        }
                        .month {
                            &::after {
                                content: "月";
                                font-size: 0.4em;
                            }
                        }
                        .day {
                            &::after {
                                content: "日";
                                font-size: 0.4em;
                            }
                        }
                        .week {
                            background-color: $base-white;
                            color: $base-black;
                            font-size: FZ(16);
                            align-self: center;
                            display: inline-block;
                            padding: 0.2em;
                            border-radius: 5px;
                            font-weight: 700;
                            margin-left: 0.2em;
                            @include sp {
                                font-size: FZ(14);
                            }
                        }
                        .time {
                            font-size: FZ(16);
                            font-weight: 500;
                            color: #fff9ba;
                            align-self: center;
                            letter-spacing: 0.12em;
                            margin-left: 0.5em;
                            display: inline-block;
                            translate: 0 0.3em;
                            @include sp {
                                font-size: FZ(14);
                                letter-spacing: 0.04em;
                                translate: unset;
                            }
                            &::before {
                                content: "[";
                            }
                            &::after {
                                content: "~]";
                            }
                        }
                        &:nth-of-type(2) {
                            flex: 1;
                            display: flex;
                            justify-content: space-between;
                            margin-left: 3em;
                            @include sp {
                                margin-left: 6vw;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                translate: 0 -50%;
                                right: calc(100% + 0.7em);
                                width: 1.5em;
                                height: 2px;
                                background-color: $base-white;
                                @include sp {
                                    width: 2vw;
                                    right: calc(100% + 2vw);
                                }
                            }
                            .day {
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
        .boxDetails {
            position: relative;
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: inherit;
            flex: 1;
            gap: 1em;

            // .itemQr {
            //     font-size: inherit;
            //     width: 9.125em;
            //     @include sp {
            //         display: none;
            //     }
            // }
            .wrapAnnounce {
                position: relative;
                display: flex;
                flex-direction: column;
                font-size: inherit;
                grid-column: span 2;
                width: 60%;
                @include sp {
                    grid-column: span 2;
                    width: 80%;
                    justify-self: center;
                }
                .caution {
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    @include flex-center;
                    z-index: 5;
                    font-size: inherit;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: calc(100% + 2em);
                        height: 10px;
                        translate: -50% -50%;
                        background-color: $caution-red;
                        z-index: -1;
                        rotate: -25deg;
                    }
                    span {
                        font-size: FZ(20);
                        font-weight: 700;
                        background-color: $caution-red;
                        padding: 0.5em 1em;
                        color: $caution-yellow;
                        border-radius: 8px;
                    }
                }
                p {
                    font-weight: 700;
                    display: flex;
                    flex-direction: column;
                    font-size: inherit;
                    letter-spacing: 0.08em;
                    opacity: 0.6;
                    @include sp {
                        flex-direction: row;
                        justify-content: center;
                    }
                    span {
                        font-size: FZ(16);
                        display: flex;
                        align-items: center;
                        .lastText {
                            display: inline-block;
                            translate: 0 0.3em;
                        }
                        time {
                            position: relative;
                            font-size: inherit;
                            display: flex;
                            margin-right: 0.5em;
                            .month {
                                font-size: FZ(40);
                                font-weight: 700;
                                &::after {
                                    content: "月";
                                    font-size: 0.4em;
                                }
                            }
                            .day {
                                font-size: FZ(40);
                                font-weight: 700;
                                &::after {
                                    content: "日";
                                    font-size: 0.4em;
                                }
                            }
                            .week {
                                background-color: $base-white;
                                color: $base-black;
                                font-size: FZ(16);
                                align-self: center;
                                display: inline-block;
                                padding: 0.2em;
                                border-radius: 5px;
                                font-weight: 700;
                                margin-left: 0.2em;
                            }
                        }
                    }
                }
                a {
                    align-self: flex-start;
                    font-size: FZ(20);
                    font-weight: 700;
                    padding: 0.5em 2em;
                    position: relative;
                    letter-spacing: 0.08em;
                    margin-bottom: 0.3em;
                    z-index: 2;
                    opacity: 0.6;
                    @include sp {
                        width: 100%;
                        text-align: center;
                        padding: 0.8em 2em;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background-color: rgba($base-pink, 1);
                        z-index: -1;
                        mix-blend-mode: screen;
                        border-radius: 1rem;
                    }
                }
            }
            ul {
                grid-column: span 2;
                font-size: inherit;
                display: flex;
                flex-direction: column;
                gap: 0.3em 0;
                li {
                    font-size: FZ(16);
                    letter-spacing: 0.08em;
                    font-weight: 600;
                    &.mobile {
                        @include sp {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* =================================
 * ポイントゲット
 * ------------------------------ */
.containerPoint {
    display: flex;
    justify-content: center;
    padding: 3em 2vw 2em;
    @include sp {
        padding: 8vw 4vw 6vw;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: $base-pink;
        mix-blend-mode: screen;
        opacity: 0.5;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        .boxHead {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: inherit;
            span {
                font-size: FZ(64);
                font-weight: 700;
                @include sp {
                    font-size: FZ(36);
                }
                em {
                    display: inline-block;
                    font-size: 1.5em;
                    margin-right: 0.1em;
                    background: linear-gradient(
                        0deg,
                        #ffe500 0%,
                        rgba(#ffe500, 0) 60%,
                        rgba(#ffe500, 0) 100%
                    );
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-color: $base-white;
                }
            }
            p {
                font-size: FZ(36);
                font-weight: 700;
                margin-top: 0.5em;
                letter-spacing: 0.04em;
                @include sp {
                    font-size: FZ(20);
                }
            }
        }
        .listPoint {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
            font-size: inherit;
            gap: 0 0.8em;
            margin-top: 2em;
            @include sp {
                grid-template-columns: repeat(2, 1fr);
                gap: 4vw;
                margin-top: 4vw;
            }
            li {
                position: relative;
                font-size: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $base-white;
                color: $base-black;
                border-radius: 2rem;
                padding: 2em 2em 1em;
                @include sp {
                    padding: 2vw;
                }
                .label {
                    @include FuturaHeavyOblique;
                    font-size: FZ(48);
                    @include sp {
                        font-size: FZ(42);
                    }
                    &::after {
                        @include SunSerif;
                        content: "票";
                        font-size: 0.33em;
                        margin-left: 0.2em;
                        font-weight: 700;
                    }
                }
                span {
                    width: 100%;
                    max-width: 156px;
                    text-align: center;
                    display: inline-block;
                    position: relative;
                    background-color: $base-pink;
                    color: $base-white;
                    font-size: FZ(16);
                    font-weight: 600;
                    letter-spacing: 0.08em;
                    padding: 1em 0 0;
                    margin-bottom: 2em;
                    @include sp {
                        max-width: unset;
                        width: 30vw;
                        margin-bottom: 6vw;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: calc(100% - 1px);
                        left: 50%;
                        translate: -50%;
                        width: calc(100% + 2em);
                        aspect-ratio: 8;
                        background-color: $base-pink;
                        clip-path: polygon(0 0, 100% 0, 50% 100%);
                    }
                }
                .point {
                    @include FuturaHeavyOblique;
                    font-size: FZ(48);
                    @include sp {
                        font-size: FZ(42);
                    }
                    &::after {
                        content: "p";
                        font-size: 0.66em;
                        margin-left: 0.1em;
                    }
                }
                &:last-of-type {
                    .point {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            left: calc(100% - 0.15em);
                            bottom: 0.5em;
                            width: 0.85em;
                            background: url("../images/object-hight-light.webp")
                                no-repeat center center / contain;
                            aspect-ratio: 41/52;
                            animation: twinkle 1s ease infinite;
                        }
                        @keyframes twinkle {
                            0% {
                                opacity: 0;
                            }
                            49% {
                                opacity: 0;
                            }
                            50% {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .textBottom {
            font-size: FZ(40);
            font-weight: 700;
            margin-top: 0.5em;
            @include sp {
                font-size: FZ(30);
            }
        }
    }
}

/* =================================
 * キャストリスト
 * ------------------------------ */
.containerCast {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2vw 0;
    overflow: hidden;
    @include sp {
        padding: 8vw 4vw 6vw;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -20em;
        left: 85%;
        width: 25vw;
        background: url("../images/object-wing.webp") no-repeat center center /
            contain;
        aspect-ratio: 600/1354;
        scale: -1 -1;
        z-index: 1;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: $articleMaxWidth;
        margin-bottom: 8em;
        @include sp {
            margin-bottom: 4vw;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 90%;
            width: 24vw;
            background: url("../images/object-feather.webp") no-repeat center
                center/contain;
            aspect-ratio: 300/269;
            scale: -1 -1;
            rotate: -90deg;
            @include sp {
                right: 80%;
                bottom: -6vw;
            }
        }
        .announce {
            font-size: FZ(24);
            line-height: 1.8em;
            font-weight: 700;
            @include sp {
                font-size: FZ(18);
            }
        }
        .boxArea {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 2em;
            @include sp {
                margin-top: 6vw;
            }
            h2 {
                background-color: $base-white;
                color: $base-black;
                padding: 0.3em 1em;
                font-size: FZ(16);
                font-weight: 600;
                letter-spacing: 0.08em;
                @include sp {
                    font-size: FZ(18);
                }
            }
            .listCast {
                position: relative;
                font-size: inherit;
                margin: 1em 0 3em;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2em 0.8em;
                @include sp {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 8vw 2vw;
                    margin: 2vw 0 6vw;
                }
                li {
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    --shop-color: #000;
                    .itemImage {
                        width: 100%;
                        position: relative;

                        // &::before {
                        //     content: "";
                        //     position: absolute;
                        //     inset: 0;
                        //     background: url(../images/image-frame.webp)
                        //         no-repeat center center/cover;
                        // }
                        &::after {
                            content: "";
                            position: absolute;
                            right: 1rem;
                            bottom: 1rem;
                            width: 8rem;
                            background: url("../images/flame-icon.webp") no-repeat
                                center center/cover;
                            aspect-ratio: 240/432;
                            z-index: 2;
                            @include sp {
                                width: 14vw;
                                right: 2vw;
                                bottom: 2vw;
                            }
                        }
                        .castImage {
                            width: 100%;
                            aspect-ratio: 3/4;
                            object-fit: cover;
                        }
                        .iconImage {
                            position: absolute;
                            bottom: 1rem;
                            left: 0.5rem;
                            display: flex;
                            flex-direction: column;
                            gap: 1rem 0;
                            @include sp {
                                gap: 2vw 0;
                                bottom: 2vw;
                            }
                            li {
                                width: 9rem;
                                @include sp {
                                    width: 16vw;
                                }
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .shop {
                        color: $base-white;
                        text-align: center;
                        font-size: FZ(14);
                        font-weight: 500;
                        letter-spacing: 0.04em;
                        padding-block: 0.3em;
                        background-color: var(--shop-color);
                    }
                    .name {
                        font-size: FZ(20);
                        font-weight: 700;
                        text-align: center;
                        letter-spacing: 0.08em;
                        margin-top: 0.5em;
                    }
                    .itemLink {
                        align-self: center;
                        background-color: $base-pink;
                        font-size: FZ(16);
                        font-weight: 700;
                        letter-spacing: 0.08em;
                        padding: 0.3em 1.6em;
                        border-radius: 100vmax;
                        margin-top: 0.2em;
                    }
                    &.fuHot {
                        --shop-color: #00afd1;
                    }
                    &.fuVilla {
                        --shop-color: #b6659f;
                    }
                    &.kmHot {
                        --shop-color: #ea524f;
                    }
                    &.kmVilla {
                        --shop-color: #ffb020;
                    }
                }
            }
        }
    }
}
.copyright {
    display: inline-block;
    text-align: center;
    background-color: $base-pink;
    font-size: FZ(16);
    font-weight: 580;
    letter-spacing: 0.04em;
    padding-block: 0.3em;
    z-index: 2;
}
